<h1 class="w-100 text-center">Listar Productos</h1>
<table class="container table table-bordered table-striped" id="productos">
  <caption>Tabla de Productos</caption>
  <thead>
    <tr>
      <th>id</th>
      <th>nombre</th>
      <th>precio</th>
      <th>imagen</th>
      <th>descripcion</th>
      <th>cantidad de existencias</th>
      <th>fecha de vencimiento de la publicación</th>
      <th>categoria</th>
      <th>id usuario vendedor</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of listaProductos | async; let i = index" class="productos">
      <td>{{producto.id}}</td>
      <td>{{producto.nombre}}</td>
      <td>{{producto.precio}}</td>
      <td>{{producto.imagen}}</td>
      <td>{{producto.descripcion}}</td>
      <td>{{producto.cantidadExistencias}}</td>
      <td>{{producto.fechaVencimientoPublicacion | date:'MMMM dd, yyyy'}}</td>
      <td>{{producto.categoria}}</td>
      <td>{{producto.idUsuarioVendedor}}</td>
      <td class="">
        <button id="{{'eliminar-producto' + i}}" class="btn btn-outline-danger" (click)="eliminarProducto(producto)" >Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
