<h1 class="w-100 text-center mt-5">Ingrese el Id del producto que desea eliminar</h1>
<form [formGroup]="productoForm" (ngSubmit)="eliminar()">
    <div class="col-sm-4 w-25 m-auto">
        <div class="col-sm-1">
            <label>Nombre:</label>
        </div>
        <input validar type="number" id="idProducto" name="nombre" placeholder="Nombre del producto" class="form-control"
            formControlName="id">
        </div>
        <button role="button" class="btn btn-primary m-auto" type="submit">Eliminar Producto</button>
</form>